# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment


# Django media and static (runtime)
media/
staticfiles/

# Environment variables / secrets
.env

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# OS-generated
.DS_Store
Thumbs.db
